.navbar-brand {
    font-size: 32px;
}

.img {
    margin: 5px auto;
}

#head {
    margin-bottom: 20px;
}

.navbar li {
    margin: 5px;
}

body {
    font-family: 'Montserrat';
    color: rgb(230, 222, 222);
}